new/filterd_video/
new/results/
*.mp4
.DS_Store
gpu_manual/
new/annotation_tool/__pycache__/
new/annotation_tool/kiwi_logs/
new/annotation_tool/annotation.log
new/annotation_tool/inference_process.jsonl
new/annotation_tool/tests/__pycache__/
new/annotation_tool/auto_annotation_trajectory_frames/
new/annotation_tool/.env.kiwi
